@media (min-width: 10px) {
    nav ul {
        text-decoration: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
}
body {
    max-width: 1100px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: #0077B6;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
li img {
    width: 70px;
    padding-top: 15px;
}
em {
    color: black;
    font-size: .85em;
}
nav {
    background-color: #03045E;
    text-align: center;
}
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5em;
    text-decoration: none;
    font-size: 1em;
}
nav a:hover {
    background-color: #90E0Ef;
    text-decoration: none;
    color: #0077B6;
}
footer {
    background-color: #03045E;
    padding: 10px;
    text-align:center;
    color: white;
}
footer a:visited {
    color: white;
}
footer a {
    color: white;
}
.HeadingSample {
    color: #0077B6;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
}
.ParagraphSample {
    font-size: 2em;
}
.PrimaryColor {
    background-color: #03045E;
    color: white;
    width: 80px;
    padding: 5px;
    text-align: center;
    margin-top: -10px;
    margin-left: 10px;
    border-radius: 10px 10px 10px 10px;
}
.SecondaryColor {
    background-color: #0077B6;
    color: white;
    width: 80px;
    padding: 5px;
    text-align: center;
    margin-top: -10px;
    margin-left: 10px;
    border-radius: 10px 10px 10px 10px;
}
.AccentColor1 {
    background-color: #00B4D8;
    color: white;
    width: 80px;
    padding: 5px;
    text-align: center;
    margin-top: -10px;
    margin-left: 10px;
    border-radius: 10px 10px 10px 10px;
}
.AccentColor2 {
    background-color: #90E0EF;
    color: white;
    width: 80px;
    padding: 5px;
    text-align: center;
    margin-top: -10px;
    margin-left: 10px;
    border-radius: 10px 10px 10px 10px;
}
.active {
    text-decoration: underline white;
}
.active:hover {
    text-decoration: none;
}