@media (min-width: 10px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        grid-gap: 2em;
    }
}
body {
        margin: 0 auto;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 80%;
    }
header {
    background-color: #001D4A;
    border-radius:15px;
    padding-bottom: 15PX;
    margin-bottom: 30px;
 }
footer a:visited {
    color: #ECA72C;
}
footer a {
    color: #ECA72C;
}
 div {
     background-color: #001D4A;
     border-radius: 15px 15px 0 0;
     opacity: 80%;
 }
 h1 {
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
     font-size: 3.5em;
     color: #ECA72C;
 }
header h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin-top: -30px;
    color: #ECA72C;   
}
 h2 {
     margin: 0px;
     color: #EAEBED;
     font-family: 'Playfair Display', serif;
 }
section a:visited {
    color: #A3BAC3;
}
section a {
    color: #A3BAC3;
}
 .website {
     font-size: .85em;
 }
 img {
     width: 100%;
     object-fit: cover;
 }
 footer {
     background-color: #001D4A;
     padding: 20px;
     margin-top: 20px;
     border-radius:15px;
     text-align:center;
     color: #ECA72C;
 }
 .information {
     background-color: #001D4A;
     opacity: 80%;
     border-radius: 0 0 15px 15px;
     margin-top: -5px;
     padding: 5px 0;
     font-family: 'PT Sans', sans-serif;
     color: #EAEBED;
 }