body {
    font-family: Arial, Helvetica, sans-serif;
}
nav, h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    display: flex;
    background-color: #03045E;
    align-items: center;
    padding-left: 10px;
}
.heading {
    color: white;
    padding-left: 10px;
    font-size: 1.2rem;
}
.motto {
    font-size: 1rem;
}
header img {
    width: 100px;
    height: 100%;
}
nav {
    background-color: #03045E;
    opacity: 70%;
    text-align: center;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    }
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul.hide {
    display: none;
}
h2 {
    text-align: center;
    font-size: 2rem;
}
.holder {
    background-color: beige;
    border: dotted ;
    padding: 8px;
    margin: 8px;
}
footer {
    background-color: #03045E;
    padding: 5px;
    text-align:center;
    color: white;
}
footer a:visited {
    color: white;
}
footer a {
    color: white;
}
.active {
    background-color: rgba(0, 0, 0, 0.8);
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }