@media only screen and (max-width: 600px) {
    body {
        width: 95%;
        margin: 0 auto;
    }
    /**gallery-7**/
    #weathermain {
        margin: 0 auto; 
    }
    #weathergrid {
        display: grid;
        grid-template-rows: repeat(9, 1fr);
        justify-content: center;
        padding: 20px; 
        margin: 0 auto;
    }
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
nav, h1, h2 {
    font-family: "Cormorant Garamond";
}
header {
    display: flex;
    background-color: #03045E;
    align-items: center;
    padding-left: 10px;
}
header .heading {
    color: white;
    padding-left: 10px;
}
header .motto {
    font-size: 1rem;
    margin-top: -1rem;
}
header img {
    height: 60px;
}
nav {
    background-color: #03045E;
    opacity: 70%;
    text-align: center;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul.hide {
    display: none;
}
footer {
    background-color: #03045E;
    padding: 5px;
    text-align:center;
    color: white;
}
footer a:visited {
    color: white;
}
footer a {
    color: white;
}
.active {
    background-color: rgba(0, 0, 0, 0.8);
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
h2 {
    text-align: center;
}
.weatherimg {
    height: 350px;
  }
  .weatherdiv {
    width: 300px;
    height: 390px;
    justify-content: center;
    box-shadow:  5px 8px 10px black;
    margin: 20px auto;
}