@media only screen and (min-width: 800px) and (max-width: 1200px) { 
    .home-cards {
        max-width: 700px;
        margin: 0 auto;
    }
    
    .home-cards section {
        display: flex;
        flex-direction: row;
        border-radius: 0;
    }
    
    .home-cards section:nth-child(1) {
        flex-direction: row-reverse;
    }
    
    .town-info {
        width: 100%;
        text-align: center;
    }
    
    .town-info div {
        font-size: 14px;
        margin-top: -1.3rem;
    }
    
    .home-cards img {
        margin-bottom: 0;
        border-radius: 0;
        max-height: 300px;
        max-width: 400px;
        width: 100%;
    }
    
    .home-cards div {
        margin-bottom: 3rem;
    }              
}