@media only screen and (max-width: 600px) {
        nav ul.hide {
            display: none;
    }
}
* {
    margin: 0 auto;
}
nav table.hide {
    display: none;
}
header {
    display: flex;
    background-color: black;
    align-items: center;
}
.weather {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 20px;
    float: right;
}
#weathertable {
    color: white;
    margin-right: 0;
    float: right;
}
nav {
    width: 100%;
    text-align: center;
}
nav button {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
    margin: 0 auto;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav ul li a:hover {
    background-color: #D80032;
}
nav ul li a {
    padding: 10px 0;
    display: block;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
#pioneer {
    text-decoration: none;
    color: #8D99AE;
    font-size: 14px;
}
h2 {
    font-size: 24pt;
    margin-bottom: 5px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.about {
    text-align: center;
}
.active {
    background-color:  rgba(255, 255, 255, 0.3);
}
footer {
    background-color: black;
    color: white;
}
.mySlides {
    display: none;
}
.heroimage {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
#Join {
    color: #8D99AE;
    font-size: 24px; 
    text-decoration: none;
}
.text {
    color: #8D99AE;
    font-size: 24px;
    padding: 8px 0;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6)
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}